BasedOnStyle: LLVM

# These are self-explanatory
IndentWidth: 4
ColumnLimit: 100
ObjCBlockIndentWidth: 4
AllowShortFunctionsOnASingleLine: None
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: true

# Line break before curly brackets for class and method definitions
BreakBeforeBraces: Linux

# @property (nonatomic) instead of @property(nonatomic)
ObjCSpaceAfterProperty: true

